@media(max-width: 600px){
    #nnav{display: block;
          display: none;}

    header{display: none;}   
    
    #tnav{display: inline;}

    .m{width: 15%;
       border-radius: 15px;} 

    .nav-item{display: contents;}

    .lol{width: 95%;}

    .webfooter{display: none;}

    footer{border-top-left-radius: 50%;
           background-color: rgba(231, 231, 108, 0.689);}

    .nav{background: none;} 

    .ke{background-color: rgba(161, 159, 159, 0.801);
        border-radius: 0px 0px 15px 15px;
        }

    h5{text-transform: uppercase;
        font-weight: bold;}   
         
}