@media(max-width: 600px){
    #nnav{display: block;
          display: none;}

    header{display: none;}   
    
    #tnav{display: inline;}

    .m{width: 15%;
       border-radius: 15px;} 

    .nav-item{display: contents;}

    .lol{width: 95%;}

    .webfooter{display: none;}

    footer{background-size: cover;
           height: 300px;
           border-top-left-radius: 50%;
           background:-webkit-linear-gradient(-65deg ,yellow,rgba(231, 231, 108, 0.689) 60%);}

    .nav{background: none;} 

    h5{text-transform: uppercase;
        font-weight: bold;}   
         
}