@media(max-width: 600px){
    #nnav{display: block;
          display: none;}

    header{display: none;}   
    
    #tnav{display: inline;}

    .m{width: 20%;
       border-radius: 15px;} 

    .nav-item{display: contents;}

    .lol{width: 95%;}

    .webfooter{display: none;}

    footer{background-size: cover;
           height: 300px;
           border-top-left-radius: 50%;
           background:-webkit-linear-gradient(-65deg ,yellow,rgba(231, 231, 108, 0.689) 60%);}

    .nav{background: none;} 

    h5{text-transform: uppercase;
        font-weight: bold;}   
 
   footer ul{list-style: none;
             text-align: right;
             padding-top: 25%;
             padding-right: 5%;} 

    .we{height: 130px;}         

    #menza{display: none;}

    .fg{font-weight: bold;}
    
    .io{display: block;
        text-align: center;
        border:none;
        border-radius: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
        margin: 15px;
        padding: 10px;}
        
    .io ul{list-style: none;
           padding-top: 5px;} 
           
    .io li{padding: 5px;}       
}